<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Controller\Cart\CouponPost" type="SmartOsc\SumUp2\Controller\Cart\CouponPost"/>
    <preference for="Magento\Checkout\Block\Cart\Coupon" type="SmartOsc\SumUp2\Block\Cart\Coupon"/>
    <preference for="Magento\SalesRule\Model\ResourceModel\Rule\Collection" type="SmartOsc\SumUp2\Model\ResourceModel\Rule\Collection"/>
    <preference for="Magento\SalesRule\Model\Coupon\UpdateCouponUsages" type="SmartOsc\SumUp2\Model\Coupon\UpdateCouponUsages"/>
</config>